
<div class="container mt-3">

<h1>Ücret:</h1>
<p class="text-white fw-bold fs-3">$@ViewBag.ToplamFiyat.ToString("0.00")</p>

    <a class="btn btn-warning" style="width:150px" asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>
</div>


